<%- include("partials/header.ejs") %>

<form action="/addItem" method="post">
  <div class="form-container">
    <label class="label" for="gameName">Game Name</label>
    <input
    class="input"
      type="text"
      name="gameName"
      placeholder="Enter the name of the game you played"
      autocomplete="off"
    />
    <label class="label" for="gameRating">Game Rating</label>
    <input class="input" type="number" name="gameRating" min="1" max="5" value="1" />
    <label class="label" for="gameSummary">Game Summary</label>
    <!-- <input type="text" name="gameSummary" placeholder="Enter a summary for the game you played" autocomplete="off"> -->
    <textarea
    class="input"
      name="gameSummary"
      cols="30"
      rows="10"
      placeholder="Enter a summary for the game you played"
      autocomplete="off"
    ></textarea>

    <button class="btn-style add" type="submit" name="submit">+</button>
  </div>
</form>
